<h2>MANAGER DETAILS</h2>

<div class="row">
    <div class="col-12 col-sm-6 mb-3">
     
      <div class="row">
        <div class="col">
        
             <label>Manager Name: {{manager.firstname}} {{manager.lastname}}</label>
          
        </div>
      </div>
      <div class="row">
        <div class="col">
         
            <label>Manager Email: {{manager.email}} </label> 
           
          
        </div>
      </div>
      <div class="row">
        <div class="col">
         
           <label>Manager Phone Number: {{manager.phonenumber}} </label>
           
          
        </div>
      </div>
    </div>
    
  </div>
